* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_407 {
  width: 100%;
  height: 4269px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_408 {
  width: 100%;
  height: 1130px;
  background: url("../images/v1_408.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 219px;
  left: 102px;
  overflow: hidden;
}
.v1_409 {
  width: 706px;
  height: 730px;
  background: url("../images/v1_409.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 400px;
  left: 376px;
  overflow: hidden;
}
.v1_410 {
  width: 100%;
  height: 377px;
  background: url("../images/v1_410.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_411 {
  width: 829px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 256px;
  opacity: 1;
  text-align: left;
}
.v1_412 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 197px;
  left: 188px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 256px;
  opacity: 1;
  text-align: left;
}
.v1_413 {
  width: 95px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 85px;
  left: 981px;
  font-family: Roboto Condensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v1_414 {
  width: 351px;
  height: 343px;
  background: url("../images/v1_414.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 593px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_416 {
  width: 351px;
  height: 343px;
  background: url("../images/v1_416.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_417 {
  width: 16px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 343px;
  left: 153px;
  font-family: Roboto Condensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
  transform: rotate(-169deg);
}
.v1_418 {
  width: 16px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 337px;
  left: 123px;
  font-family: Roboto Condensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
  transform: rotate(-159deg);
}
.v1_419 {
  width: 14px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 325px;
  left: 96px;
  font-family: Roboto Condensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
  transform: rotate(-150deg);
}
.v1_420 {
  width: 14px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 311px;
  left: 72px;
  font-family: Roboto Condensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
  transform: rotate(-141deg);
}
.v1_421 {
  width: 14px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 293px;
  left: 51px;
  font-family: Roboto Condensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
  transform: rotate(-132deg);
}
.v1_422 {
  width: 18px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 271px;
  left: 33px;
  font-family: Roboto Condensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
  transform: rotate(-122deg);
}
.v1_423 {
  width: 14px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 244px;
  left: 17px;
  font-family: Roboto Condensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
  transform: rotate(-112deg);
}
.v1_424 {
  width: 14px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 218px;
  left: 7px;
  font-family: Roboto Condensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
  transform: rotate(-103deg);
}
.v1_425 {
  width: 14px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 191px;
  left: 2px;
  font-family: Roboto Condensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
  transform: rotate(-94deg);
}
.v1_426 {
  width: 6px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 164px;
  left: 1px;
  font-family: Roboto Condensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
  transform: rotate(-87deg);
}
.v1_427 {
  width: 14px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 145px;
  left: 2px;
  font-family: Roboto Condensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
  transform: rotate(-79deg);
}
.v1_428 {
  width: 14px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 118px;
  left: 8px;
  font-family: Roboto Condensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
  transform: rotate(-70deg);
}
.v1_429 {
  width: 14px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 92px;
  left: 18px;
  font-family: Roboto Condensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
  transform: rotate(-61deg);
}
.v1_430 {
  width: 16px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 68px;
  left: 32px;
  font-family: Roboto Condensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
  transform: rotate(-52deg);
}
.v1_431 {
  width: 8px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 45px;
  left: 51px;
  font-family: Roboto Condensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
  transform: rotate(-44deg);
}
.v1_432 {
  width: 18px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 31px;
  left: 67px;
  font-family: Roboto Condensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
  transform: rotate(-35deg);
}
.v1_433 {
  width: 16px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 13px;
  left: 94px;
  font-family: Roboto Condensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
  transform: rotate(-25deg);
}
.v1_434 {
  width: 6px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2px;
  left: 121px;
  font-family: Roboto Condensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
  transform: rotate(-17deg);
}
.v1_438 {
  width: 6px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 224px;
  font-family: Roboto Condensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1_439 {
  width: 18px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5px;
  left: 242px;
  font-family: Roboto Condensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1_440 {
  width: 14px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 20px;
  left: 270px;
  font-family: Roboto Condensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1_441 {
  width: 20px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 37px;
  left: 293px;
  font-family: Roboto Condensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1_442 {
  width: 6px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 62px;
  left: 316px;
  font-family: Roboto Condensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1_443 {
  width: 16px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 77px;
  left: 327px;
  font-family: Roboto Condensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1_444 {
  width: 16px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 104px;
  left: 340px;
  font-family: Roboto Condensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1_445 {
  width: 16px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 133px;
  left: 349px;
  font-family: Roboto Condensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1_446 {
  width: 16px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 163px;
  left: 352px;
  font-family: Roboto Condensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1_447 {
  width: 14px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 193px;
  left: 351px;
  font-family: Roboto Condensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1_448 {
  width: 14px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 220px;
  left: 345px;
  font-family: Roboto Condensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1_449 {
  width: 16px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 246px;
  left: 335px;
  font-family: Roboto Condensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1_450 {
  width: 18px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 272px;
  left: 320px;
  font-family: Roboto Condensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1_451 {
  width: 8px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 295px;
  left: 299px;
  font-family: Roboto Condensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1_452 {
  width: 14px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 309px;
  left: 283px;
  font-family: Roboto Condensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1_453 {
  width: 8px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 324px;
  left: 260px;
  font-family: Roboto Condensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1_454 {
  width: 14px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 333px;
  left: 240px;
  font-family: Roboto Condensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1_455 {
  width: 14px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 341px;
  left: 214px;
  font-family: Roboto Condensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v49_108 {
  width: 100%;
  height: 22px;
  background: url("../images/v49_108.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 107px;
  left: 122px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1_461 {
  width: 100%;
  height: 396px;
  background: url("../images/v1_461.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1353px;
  left: 122px;
  overflow: hidden;
}
.v1_462 {
  width: 12px;
  height: 12px;
  background: url("../images/v1_462.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 384px;
  left: 487px;
  overflow: hidden;
}
.v1_465 {
  width: 12px;
  height: 12px;
  background: url("../images/v1_465.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 378px;
  left: 243px;
  overflow: hidden;
}
.v1_466 {
  width: 12px;
  height: 12px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v1_468 {
  width: 100%;
  height: 301px;
  background: url("../images/v1_468.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: -44px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_470 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v1_463 {
  width: 12px;
  height: 12px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 1731px;
  left: 608px;
  border-radius: 50%;
}
.v1_467 {
  width: 151px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1732px;
  left: 384px;
  font-family: Roboto Condensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1_464 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1732px;
  left: 629px;
  font-family: Roboto Condensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1_473 {
  width: 114px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1972px;
  left: 164px;
  font-family: Roboto Condensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1_477 {
  width: 896px;
  height: 132px;
  background: url("../images/v1_477.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 32px 0px;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 2022px;
  left: 365px;
  overflow: hidden;
}
.v1_478 {
  width: 544px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 32px;
  left: 0px;
  font-family: Playfair Display;
  font-weight: Bold Italic;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v1_479 {
  width: 184px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 91px;
  left: 592px;
  font-family: Roboto Condensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: right;
}
.v1_481 {
  width: 896px;
  height: 2px;
  background: rgba(185,185,185,1);
  opacity: 1;
  position: absolute;
  top: 2202px;
  left: 365px;
  overflow: hidden;
}
.v7_125 {
  width: 896px;
  height: 2px;
  background: rgba(185,185,185,1);
  opacity: 1;
  position: absolute;
  top: 2202px;
  left: 365px;
  overflow: hidden;
}
.v1_482 {
  width: 896px;
  height: 132px;
  background: url("../images/v1_482.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 52px;
  opacity: 1;
  position: absolute;
  top: 2252px;
  left: 365px;
  overflow: hidden;
}
.v1_483 {
  width: 185px;
  height: 132px;
  background: url("../images/v1_483.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v1_484 {
  width: 647px;
  height: 68px;
  background: url("../images/v1_484.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 28px;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 237px;
  overflow: hidden;
}
.v1_485 {
  width: 413px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v1_486 {
  width: 446px;
  height: 9px;
  background: url("../images/v1_486.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 53px;
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 441px;
  overflow: hidden;
}
.v1_487 {
  width: 209px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto Condensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: right;
}
.v1_488 {
  width: 184px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 262px;
  font-family: Roboto Condensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: right;
}
.v1_489 {
  width: 896px;
  height: 2px;
  background: rgba(185,185,185,1);
  opacity: 1;
  position: absolute;
  top: 2432px;
  left: 365px;
  overflow: hidden;
}
.v1_495 {
  width: 896px;
  height: 132px;
  background: url("../images/v1_495.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 32px 0px;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 2482px;
  left: 365px;
  overflow: hidden;
}
.v1_496 {
  width: 739px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 32px;
  left: 0px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v1_498 {
  width: 109px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 91px;
  left: 787px;
  font-family: Roboto Condensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: right;
}
.v1_499 {
  width: 896px;
  height: 2px;
  background: rgba(185,185,185,1);
  opacity: 1;
  position: absolute;
  top: 2662px;
  left: 365px;
  overflow: hidden;
}
.v1_500 {
  width: 897px;
  height: 132px;
  background: url("../images/v1_500.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 32px 0px;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 2712px;
  left: 364px;
  overflow: hidden;
}
.v1_501 {
  width: 568px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 32px;
  left: 0px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v1_502 {
  width: 184px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 91px;
  left: 616px;
  font-family: Roboto Condensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: right;
}
.v1_503 {
  width: 49px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 91px;
  left: 848px;
  font-family: Roboto Condensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: right;
}
.v1_504 {
  width: 896px;
  height: 2px;
  background: rgba(185,185,185,1);
  opacity: 1;
  position: absolute;
  top: 2892px;
  left: 365px;
  overflow: hidden;
}
.v4_36 {
  width: 896px;
  height: 132px;
  background: url("../images/v4_36.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 32px 0px;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 2942px;
  left: 365px;
  overflow: hidden;
}
.v4_37 {
  width: 511px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 32px;
  left: 0px;
  font-family: Playfair Display;
  font-weight: Bold Italic;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v4_38 {
  width: 184px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 91px;
  left: 559px;
  font-family: Roboto Condensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: right;
}
.name {
  color: #fff;
}
.v1_507 {
  width: 100%;
  height: 1066px;
  background: url("../images/v1_507.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3203px;
  left: 0px;
  overflow: hidden;
}
.v1_508 {
  width: 100%;
  height: 1066px;
  background: url("../images/v1_508.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_509 {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_510 {
  width: 100%;
  height: 164px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_511 {
  width: 839px;
  height: 585px;
  background: url("../images/v1_511.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 96px;
  opacity: 1;
  position: absolute;
  top: 384px;
  left: 301px;
  overflow: hidden;
}
.v1_512 {
  width: 839px;
  height: 148px;
  background: url("../images/v1_512.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_513 {
  width: 839px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto Condensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v1_514 {
  width: 839px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 57px;
  left: 0px;
  font-size: 128px;
  opacity: 1;
  text-align: center;
}
.v1_515 {
  width: 254px;
  height: 220px;
  background: url("../images/v1_515.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 244px;
  left: 293px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1_520 {
  width: 92px;
  color: rgba(90,90,90,1);
  position: absolute;
  top: 560px;
  left: 374px;
  font-family: Roboto Condensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v7_40 {
  width: 223px;
  height: 164px;
  background: url("../images/v7_40.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1766px;
  left: 365px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v7_41 {
  width: 223px;
  height: 164px;
  background: url("../images/v7_41.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1766px;
  left: 608px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
